.section:not(.hero-section){
  background-color: white;
}
.section .section-inner{
  min-height: 100vh;
}
.section-inner{
  @include outer-container;
  min-height: 100vh;
}
.hero-section{
  color: white;
  text-align: center;
  .hero-text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 0;
  }
  .hero-subtitle{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 80%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 0;
  }
  .hero-cta{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding-top: 20px;
    padding-left: 5%;
    color: black;
    h2{
      margin-bottom: 1em;
    }
    .button{
      margin-bottom: 1em;
      $large-padding: 3em;
      padding-right: $large-padding;
      padding-left: $large-padding;
    }
  }
}