.nav{
  background-color: transparentize(white, .2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .logo{
    height: 60px;
    &:hover{
      border-bottom: none;
    }
  }
}
.nav-inner{
  @include outer-container;
  padding-top: 15px;
}
.nav-left{
  float: left;
  h1{
    font-size: 20px;
  }
}
.nav-right{
  float: right;
}
.nav-link{
  padding-top: 15px;
  display: inline-block;
  margin-left: 10px;
}